/* heidi's colors */

body {
  border-bottom: 15px solid #C5D7EF;
  border-top: 15px solid #C5D7EF;
}
#breadcrumb,
#user-menu {
/*  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, #ECECCF),
    color-stop(0.55, #EBEAC8),
    color-stop(0.78, #E5E6BB)
);
  background-image: -moz-linear-gradient(
    center bottom,
    #ECECCF 9%,
    #EBEAC8 55%,
    #E5E6BB 78%
);*/
  background-color:#c5d7ef;
}
#container {background-color:#fff;}

h2.title,
h2.pane-title {color:#fdfdfd}
body {
  color:#585858;
  border-top:15px solid #c5d7ef;
  border-bottom:15px solid #c5d7ef;
}
h4 a:link,
h5 a:link,
h6 a:link {
  color:#16294a;
}

/* Tabs color */
ul.primary {
border-bottom-color:#CCC;
}

ul.primary li a {
  color:#16294a;
  background-color:#c5d7ef;
  margin-right:.08em;
  border-color:#CCC;
  padding:6px 10px 6px;
  -moz-border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  -khtml-border-radius:4px 4px 0 0;
  behavior:url(border-radius-ie8.htc);
  -moz-box-shadow: 3px -2px 4px 0 #ddd;
}

.local-tasks ul.primary li a:hover {
background-color:#fdfddf;
border-color:#DDD;
}

.local-tasks ul.primary li.active a {
/*background-color:#FFF;
border-bottom-color:#FFF;*/
}

/***************** Block superfish ***************************
*************** Defaults & Primarylinks **********************/

.sf-menu.sf-style-white li {
  border-right:1px dotted #d2d4e1;
}
.sf-menu.sf-style-white a {
  color:#e44e35 !important;
}
.sf-menu.sf-style-white li.sfHover a {
  color:#fff !important;
}
.sf-menu.sf-style-white li.sfHover li a {
  color:#e44e35 !important;
}
.sf-menu.sf-style-white a:hover {
  color:#fff !important;
}
.sf-menu.sf-style-white li ul a {
  color:#e44e35 !important;
}
.sf-menu.sf-style-white li ul a:hover {
  color:#fff !important;
}
.sf-menu.sf-style-white li.active-trail a {
  color:#fff !important;
}
.sf-menu.sf-style-white li, .sf-navbar.sf-style-white {
  background: transparent;
}
.sf-menu.sf-style-white li li {
  background: none repeat scroll 0 0 #fefefe !important;
}
.sf-menu.sf-style-white li li li {
  background: none repeat scroll 0 0 #fefefe !important;
}
.sf-menu.sf-style-white li:hover,
.sf-menu.sf-style-white li.sfHover,
.sf-menu.sf-style-white li.active,
.sf-menu.sf-style-white li.active-trail,
.sf-menu.sf-style-white a:focus,
.sf-menu.sf-style-white a:hover,
.sf-menu.sf-style-white a:active,
.sf-navbar.sf-style-white li a:link {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, #cd4a36),
    color-stop(0.100, #e44e35)
);
  background-image: -moz-linear-gradient(
    center bottom,
    #cd4a36 0%,
    #e44e35 100%
);
  color:#fff;
  background: none repeat scroll 0 0 #e44e35;
}
.sf-navbar.sf-style-white li ul {
  background-color: #E9E9E9;
}
.sf-navbar.sf-style-white li ul li ul {
  background-color: transparent;
}
